<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>TSA.MOB.KZ</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>UploadServlet</display-name>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operations</servlet-name>
        <servlet-class>servlet.Operations</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>UploadPhotoServlet</display-name>
        <servlet-name>UploadPhotoServlet</servlet-name>
        <servlet-class>servlet.UploadPhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadPhotoServlet</servlet-name>
        <url-pattern>/UploadPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operations</servlet-name>
        <url-pattern>/Operations</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>Tester</servlet-name>
        <url-pattern>/Tester</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <env-entry>
        <env-entry-name>JNDI-NAME</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>JNDI_BAT_BY</env-entry-value>
    </env-entry>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>/TSA.MOB.KZ</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>AppUsers</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>ApplicationRealm</realm-name>
    </login-config>
</web-app>
